* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-transform: capitalize;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../static/images/2480553.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

.form {
  padding: 25px;
  h1 {
    font-family: "Pacifico", cursive;
  }
  .form-group {
    margin: 10px auto;
    input,
    textarea {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid black;
      font-size: 15px;
    }
    label {
      font-family: cursive;
      cursor: pointer;
    }
    textarea {
      resize: vertical;
      height: 25vh;
    }
    input[type="submit"] {
      font-family: cursive;
      background: #ff7905;
      color: white;
      cursor: pointer;
      transition: all 400ms ease;
      padding: 5px 10px;
      width: 50%!important;
    }
    input[type="submit"]:hover {
      background: white;
      color: #ff7905;
    }
  }
}
